<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error libero accusantium in veritatis deserunt ipsa cumque numquam, saepe laborum distinctio id nobis quis, quas eaque beatae, provident placeat eveniet odio.</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae porro optio iusto sequi accusantium repellendus quam facere quaerat inventore quod, neque omnis pariatur veniam libero labore perferendis, sed asperiores cumque.</p>
    <img src="https://www.thesprucecrafts.com/thmb/4H5dhXLmqPomgmVMMjq4125YhBA=/941x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/CrochetHeart5-5baeeaeac9e77c00264228b3.jpg" width="100px" height="100px">

    <p> The delicate art of crocheting is a lifelong skill that you'll use to make beautiful gifts for others and items for your home and wardrobe. Start by learning a couple of basic stitches, and build on that with more advanced basic stitches. First, figure out what size and style hook feels most comfortable for you. Then, start with simple yarns and beginner patterns, and you'll be a pro in no time.</p>
    <!-- we don't have to put '/public/images/name-opf-image.jpg' since public
    is already registered for all static files (stylesheets, images, etc.) --> 
</body>
</html>
